* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: monospace;
	font-size: 1.2em;
	line-height: 1.3em;
}

main {
  display: grid;
  grid-template-rows: 10% 90%;
  padding: 1em;
  height: 100vh;
}

.channel-container {
  display: grid;
  grid-template-columns: 65% 35%;
	height: 100%;
	/* grid-gap: 1em; */
}

.channel-container[mode='list']{
  grid-template-columns: 65% 35%;
}

.channel-container[mode='select']{
  grid-template-columns: 25% 75%;
}

.top-bar {
	border-bottom: 1px solid black;
}

.channels {
  width: calc(100% - 2em);
  height: 100%;
  overflow-y: scroll;
	margin: 0 1em;
	border: 1px solid black;
}

.selections {
  width: calc(100% - 2em);
  height: 100%;
	margin: 0 1em;
  overflow-y: scroll;
	border: 1px solid black;

	display: grid;
	grid-template-rows: 65% 35%;
}

.channel-item {
  display: grid;
  grid-template-columns: 20% 70% 10%;
	border-bottom: 1px solid #aaa;
	padding: .5em;
}

.channel-item[selected='true']{
	background-color: yellow;
}

.channel-item[highlighted='true']{
	border: 1px solid blue;
}
